body{
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: #000000;
    background-image: url(https://img.freepik.com/free-vector/small-pond-with-green-grass-white-background_1308-43549.jpg?size=626&ext=jpg&ga=GA1.2.1547520224.1641772800.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
}
a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 1s;
}
a:hover{
    color: #ff0000;
    text-decoration: underline;
}
a:visited{
    color: #ff0000;
}
#game{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;

}
canvas{
    outline: 1px solid #333;
}

#scores{
    color: #27722d;
    font-size : 5vw;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 750px;
    width: 95.5%;
}

.score{
    color: #27722d
}
.name{
    font-size: 2vw;
}

#scores >* {
    margin: 1vw;
}
